APP_ENV=local
LOG_LEVEL=info

DB_HOST=127.0.0.1
DB_PORT=5433
DB_USER=admin
DB_PASSWORD=admin
DB_NAME=review_service
DB_SSLMODE=disable
DB_MAX_OPEN_CONNS=20
DB_MAX_IDLE_CONNS=10
DB_CONN_MAX_LIFETIME=5m

MIGRATIONS_PATH=file://migration/yugabyte
MIGRATIONS_TABLE=schema_migrations_review_service

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

NATS_URL=nats://127.0.0.1:4222
NATS_USER=
NATS_PASSWORD=
NATS_STREAM_USER_EVENTS=USER_EVENTS
NATS_STREAM_SAGA_COMMANDS=SAGA_USER_COMMANDS
NATS_SUBJECT_REVIEW_PROJECTION_REQUESTED=review.projection.requested
NATS_SUBJECT_REVIEW_AUTHOR_RETRY_REQUESTED=review.author.retry.requested
NATS_SUBJECT_REVIEW_AVATAR_RETRY_REQUESTED=review.avatar.retry.requested
NATS_SUBJECT_SAGA_CREATE_USER=saga.review.create
NATS_SUBJECT_SAGA_DELETE_USER=saga.review.delete
NATS_SUBJECT_SAGA_CREATE_USER_RESULT=saga.review.create.result
NATS_SUBJECT_SAGA_DELETE_USER_RESULT=saga.review.delete.result
NATS_DURABLE_SAGA_CREATE_USER=review_service_saga_create
NATS_DURABLE_SAGA_DELETE_USER=review_service_saga_delete
NATS_SAGA_BATCH_SIZE=32
NATS_SAGA_MAX_WAIT=10ms
NATS_SAGA_WORKERS=8
NATS_SAGA_QUEUE_SIZE=500
NATS_SAGA_ACK_WAIT=30s
NATS_SAGA_MAX_DELIVER=5
NATS_SAGA_ADAPTIVE_ENABLED=false
NATS_SAGA_ADAPTIVE_CHECK_INTERVAL=2s
NATS_SAGA_ADAPTIVE_MEDIUM_PENDING=200
NATS_SAGA_ADAPTIVE_HIGH_PENDING=1000
NATS_SAGA_ADAPTIVE_LOW_BATCH_SIZE=8
NATS_SAGA_ADAPTIVE_LOW_MAX_WAIT=25ms
NATS_SAGA_ADAPTIVE_MEDIUM_BATCH_SIZE=32
NATS_SAGA_ADAPTIVE_MEDIUM_MAX_WAIT=10ms
NATS_SAGA_ADAPTIVE_HIGH_BATCH_SIZE=128
NATS_SAGA_ADAPTIVE_HIGH_MAX_WAIT=2ms
